black
google-api-python-client
google-api-python-client-stubs
google-auth-httplib2
google-auth-oauthlib
google-auth-stubs
mypy
numpy
openpyxl
pandas
pandas-stubs
pre-commit
pylint
pytest
pytest-clarity
pytest-cov
pytest-xdist
ruff
scikit-learn
textblob
textstat
types-python-dateutil
xgboost
