black
google-api-python-client
google-api-python-client-stubs
google-auth-httplib2
google-auth-oauthlib
google-auth-stubs
mypy
numpy
pandas
pandas-stubs
pylint
pytest
pytest-clarity
pytest-cov
pytest-xdist
scikit-learn
textblob
types-python-dateutil
